

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
  }

img.uno {
    width: 200px; 
    height: 100px;
    grid-column: 3 / 3;
    grid-row: 1 / 5;
}
img.dos {
    width: 200px; 
    height: 100px;
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}
img.tres {
    width: 200px; 
    height: 100px;
    grid-column: 3;
    grid-row: 3 / 5;
}
img.cuatro {
    width: 200px; 
    height: 100px;
    grid-column: 3/4;
    grid-row: 4 / 5;
}